<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="a750-rev1">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import a750-rev1 urdf file -->
    <xacro:include filename="$(find a750_description)/urdf/a750_rev1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="a750-rev1.ros2_control.xacro" />


    <xacro:a750-rev1_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
